/* 
Light -> Dark
#F7F0F5
#DECBB7
#8F857D
#5C5552
#433633
*/

body {
    padding: 0px;
    margin: 0px; 
    background-color: #5C5552;
    height: calc(100vh - 30px);
}

.main-pane {
    height: 100%;
    background-color: #5C5552;
}

.main-pane:after {
    content: "";
    display: table;
    clear: both;
}

.channel-pane {
    float: left;
    width: 180px;
    height: calc(100% - 20px);
    background-color: #8F857D;
    box-shadow: 3px 6px #433633;
    margin: 10px;
}

.channel-item {
    margin: 10px;
    background-color: #DECBB7;
    box-shadow: 3px 6px #433633;
}

.channel-label {
    margin: 0;
    padding: 5px;
}

.user-pane {
    float: right;
    width: 180px;
    height: calc(100% - 20px);
    background-color: #8F857D;
    box-shadow: 3px 6px #433633;
    margin: 10px;
}

.user-item {
    margin: 10px;
    background-color: #DECBB7;
    box-shadow: 3px 6px #433633;
}

.user-label {
    margin: 0;
    padding: 5px;
}

.message-pane {
    float: left;
    width: calc(100% - 408px);
    height: calc(100% - 60px);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message-item {
    margin: 10px;
    padding: 8px;
    box-shadow: 3px 6px #433633;
    background-color: #8F857D;
}

.message-content {
    margin: 0;
}

.compose-pane {
    float: left;
    width: calc(100% - 400px);
    height: 50px;
    box-shadow: 3px 6px #433633;
    background-color: #8F857D;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 6px #433633;
}

input {
    margin: 14px;
    width: 90%;
    box-shadow: 3px 6px #433633;
    border: none;
    outline: none;
}

#login-form {
    margin: auto;
    background-color: #8F857D;
}

/* Title Bar and Window Buttons */
#title-bar {
    -webkit-app-region: drag;
    height: 24px; 
    background-color: #433633;
    padding: none;
    margin: 0px;
    box-shadow: 0px, -10px, 0px, red;
}

#title {
    position: fixed;
    vertical-align: auto;
    line-height: 24px;
    top: 0px;
    left: 8px;
    color: #bcc1c9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    white-space: nowrap;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 0px;
}

.title-btn {
    width: 45px;
    border: none;
    border-radius: 0;
    color: #bcc1c9;
    background-color: transparent;
    font-weight: lighter;
    font-size: large;
    outline: 0;
}

#close-btn:hover, #close-btn:focus {
    background-color: red;
}

.title-btn:focus, .title-btn:hover {
    background-color: #8F857D;
}

.title-btn:active {
    color: black;
    background-color: white;
}
